span.number_b{
    font-family: Arial, Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif; 
    color:rgb(29, 26, 196);
}
span.number_o{
    font-family: Arial, Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif; 
    color:rgb(168, 31, 7);
}
span.text_g{
    font-weight: bold;
    color:rgb(12, 87, 18);
}
span.circle{
    font-size: 12px;
    font-family: 新細明體;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background-color: red;
    display: inline-block;
    color: #fff;
    /* float: left; */
    height: 20px;
    padding: 2px ;
    text-align: center;
    vertical-align: top;
    width: 20px;
    margin-top: 2px;
}

span.club_year_text{
    color: rgb(0, 111, 214);
}

.editable{
    border-bottom: 1px dashed rgb(0, 111, 214);
}